@font-face {
  font-family: 'iconfont';  /* project id 375015 */
  src: url('//at.alicdn.com/t/font_375015_4pc2z24rletp4x6r.eot');
  src: url('//at.alicdn.com/t/font_375015_4pc2z24rletp4x6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_375015_4pc2z24rletp4x6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_375015_4pc2z24rletp4x6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_375015_4pc2z24rletp4x6r.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clipboard-check:before {
  content: "\e6b0";
}

.icon-assignment:before {
  content: "\ea61";
}

.icon-erweima:before {
  content: "\e600";
}

.icon-creditcard:before {
  content: "\e77c";
}

.icon-compare:before {
  content: "\e780";
}

.icon-dns:before {
  content: "\e7ca";
}

.icon-filefind:before {
  content: "\e813";
}

.icon-key:before {
  content: "\e8f9";
}

.icon-settings:before {
  content: "\ea84";
}

.icon-swapvertical:before {
  content: "\eabe";
}

.icon-huiyuan:before {
  content: "\e68b";
}

.icon-tag:before {
  content: "\e625";
}

.icon-duanxin:before {
  content: "\e71a";
}

.icon-123:before {
  content: "\e619";
}

.icon-access-point:before {
  content: "\e601";
}

.icon-account-box-outline:before {
  content: "\e602";
}

.icon-account-box:before {
  content: "\e603";
}

.icon-access-point-network:before {
  content: "\e604";
}

.icon-account-alert:before {
  content: "\e605";
}

.icon-account-card-details:before {
  content: "\e606";
}

.icon-account:before {
  content: "\e607";
}

.icon-account-check:before {
  content: "\e608";
}

.icon-account-key:before {
  content: "\e609";
}

.icon-account-convert:before {
  content: "\e60a";
}

.icon-account-circle:before {
  content: "\e60b";
}

.icon-account-minus:before {
  content: "\e60c";
}

.icon-account-location:before {
  content: "\e60d";
}

.icon-account-multiple:before {
  content: "\e60e";
}

.icon-account-multiple-minus:before {
  content: "\e60f";
}

.icon-account-multiple-plus:before {
  content: "\e610";
}

.icon-account-multiple-outline:before {
  content: "\e611";
}

.icon-account-plus:before {
  content: "\e612";
}

.icon-calendar-text:before {
  content: "\e681";
}

.icon-delete:before {
  content: "\e6f1";
}

.icon-menu-down:before {
  content: "\e7e9";
}

.icon-plus-circle:before {
  content: "\e854";
}

.icon-store:before {
  content: "\e8c5";
}

.icon-ticket:before {
  content: "\e8e6";
}

.icon-widgets:before {
  content: "\e939";
}

.icon-ic_account_circle:before {
  content: "\e8e0";
}

.icon-ic_contact_mail:before {
  content: "\e970";
}

.icon-ic_format_list_bulleted:before {
  content: "\e9ca";
}

.icon-ic_insert_chart:before {
  content: "\e9cf";
}

.icon-ic_insert_drive_file:before {
  content: "\e9d0";
}

.icon-ic_personal_video:before {
  content: "\ea7c";
}

.icon-yingxiao:before {
  content: "\e7f9";
}

.icon-youhuiquan:before {
  content: "\e64d";
}

.icon-mojing:before {
  content: "\e613";
}
