// document级别预设置
html, #app {
  height: 100%;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  color: #333;
  background: #eee;
  height: 100%;
  overflow-y: hidden;
}

// 抽离的样式
@import './mixin.less'; // less mixin
@import './element-ui.less'; // element-ui样式重写
@import '../fonts/iconfont.css'; // iconfont直接使用download的，减小更新成本

// 常用mixin预设样式，一般用u-xxx
.u-clearfix {
  .clearfix();
}
.u-ellipsis {
  .ellipsis();
}
.u-ellipsis-2 {
  .multiEllipsis(2);
}
.u-ellipsis-3 {
  .multiEllipsis(3);
}
u-boxshadow {
  .boxShadow();
}
